.DS_Store
DraconisImpossibleCoreMod/.gitattributes
SE-DraconisCombinedCannons/
SE_Mods_list.txt
modids.ps1
steamcmd/*
!steamcmd/steamcmd.exe
.vs/DraconisCode/v16/.suo
DefenseShield_Fix/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
DefenseShield_Fix/obj/Debug/DefenseShields.csprojAssemblyReference.cache
DefenseShield_Fix/obj/Release/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
DefenseShield_Fix/obj/Release/DefenseShields.csprojAssemblyReference.cache
DefenseShield_Fix/test/GeometRi/GeometRi.Example/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
DefenseShield_Fix/test/GeometRi/GeometRi.Example/obj/Debug/GeometRi.Example.csprojAssemblyReference.cache
DefenseShield_Fix/test/GeometRi/GeometRi.Example/obj/Release/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
DefenseShield_Fix/test/GeometRi/GeometRi.Example/obj/Release/GeometRi.Example.csprojAssemblyReference.cache
obj/Debug/.NETFramework,Version=v4.0.AssemblyAttributes.cs
*.cache

Playground
/!Mods/CombinedCannons
/!Mods/DraconisExpanseMES
/!Mods/DraconisExpanseWeapons
!Mods/RetroAryxPack/Data/RetroWeapons.code-workspace
